-# .mainImage
-#   = image_tag "https://i.ytimg.com/vi/-OSSDuMkk70/hqdefault.jpg"
-# .thumbnails
-#   = image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiGNb36KY_-TMOPTuwglI2mtYi-YGH1T7b1URiYPRCUpMrN_AO" , width:20
-#   = image_tag "https://i.ytimg.com/vi/OzJiHFxT8aI/maxresdefault.jpg" , width:20
-#   = image_tag "http://animalsbirds.com/wp-content/uploads/2016/07/Funny-Animals-Dog-Photos.jpg" ,width:20
